.playerContainer {
  width: 450px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 300px;
  .item,
  .activeItem {
    padding: 2px 8px;
    background-color: #ffffff;
    margin: 0 4px 4px 0;
    cursor: pointer;
    border-radius: 10px;
  }
  .activeItem {
    box-sizing: border-box;
    border: 1px solid green;
    background-color: rgb(163, 213, 163);
    font-weight: 400;
  }
}
